<a href="https://colab.research.google.com/github/AaronReichert/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [204]:
##### Begin Working Here #####
# download the zip file
! wget HTTPS://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-18 05:23:50--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [            <=>     ]  21.72M  1.88MB/s    in 12s

2020-01-18 05:24:02 (1.86 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22776791]

In [205]:
# unzip the zip file
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [0]:
# import pandas because they are cute 
import pandas as pd

In [0]:
# load the unzipped file to a data frame
df=pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')

In [214]:
# test the data frame
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [217]:
# copy and clean the data
dfclean=df.drop(['url','member_id','desc','id'],axis=1)
dfclean.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

# okay, where was I?

- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# define a function
def stripmonths(input):
  return float(input.strip().strip('months'))

In [219]:
# test said function
test="36 months	"
test2=stripmonths(test)
print(test)
print(test2)

36 months
36.0

In [0]:
# apply said function to the entire column
dfclean["term"]=dfclean['term'].apply(stripmonths)

In [221]:
# inspect said data
dfclean.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0       6000         6000  ...                  60.01             24.0
1      24000        24000  ...                    NaN              NaN
2      30000        30000  ...                    NaN              NaN
3       8000         8000  ...                    NaN              NaN
4      22400        22400  ...                    NaN              NaN

[5 rows x 140 columns]

In [0]:
# - Make a column named `loan_status_is_great`. 
# It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." 
# Else it should contain the integer 0.
# lets make another function
def verifyloan(loan):
  if loan=='Current':
    return 1
  elif loan=='Fully Paid':
    return 1
  else:
    return 0

In [0]:
dfclean['loan_status_is_great']=dfclean['loan_status'].apply(verifyloan)

In [243]:
dfclean.head(10)

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0       6000         6000  ...             24.0                     0
1      24000        24000  ...              NaN                     1
2      30000        30000  ...              NaN                     1
3       8000         8000  ...              NaN                     1
4      22400        22400  ...              NaN                     1
5       5000         5000  ...              NaN                     1
6      27000        27000  ...              NaN                     1
7      10000        10000  ...              NaN                     1
8       8000         8000  ...              NaN                     1
9      24000        24000  ...              NaN                     1

[10 rows x 141 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01